.MMResultViewBgContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6%;
  background: #223a5f;
}
.lineProgressContainer {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
.emojiContainer {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: none;
}
.eachEmojiContainerr {
  height: 100%;
  width: 10%;
  flex-grow: 1;
  list-style-type: none;
}
.emoji {
  height: 100%;
  width: 100%;
}
.resultsViewHeader {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #467aff;
}
.resultsViewPara {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.MMStartPlayingBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 132px;
  height: 48px;
  /* General/White */
  background: #467aff;
  border-radius: 12px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.levelsContainer {
  display: flex;
  width: 100%;
  height: 20%;
}

.levelsTxt {
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 16px;
  width: 30%;
  color: #ffffff;
  flex-grow: 1;
}
.lastLevel {
  text-align: center;
}
.lineProgress {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 678px) {
  .lineProgressContainer {
    width: 90%;
    height: 20%;
  }
  .eachEmojiContainerr {
    width: 10%;
    margin: 6px;
  }
  .emojiContainer {
    height: 30%;
  }
  .resultsViewHeader {
    font-size: 24px;
    line-height: 32px;
    color: #467aff;
  }
  .resultsViewPara {
    font-size: 16px;
    line-height: 24px;
  }
  .levelsTxt {
    font-size: 12px;
  }
}
